<div class="container flex justify-center">
  <div class="flex flex-col items-center">
    <% if alert = flash[:alert] %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
    <% end %>

    <div class="mb-10 text-3xl font-bold text-indigo-800">
      Type your stuff in:
    </div>

    <div data-controller="login-tabs" data-login-tabs-active-tab-value="<%= params[:active_tab] %>" class="login-container m-auto">
      <div class="tabs">
        <div class="tab-wrapper sign-up-tab">
          <button
            data-login-tabs-target="tab"
            data-action="login-tabs#switchTab"
            data-tab="sign-up"
            class="tab sign-up-tab">
            Sign up </button>
        </div>
        <div class="tab-wrapper mx-1 sign-in-tab">
          <button
            data-login-tabs-target="tab"
            data-action="login-tabs#switchTab"
            data-tab="sign-in"
            class="tab sign-in-tab">
            Log in
          </button>
        </div>
        <div class="tab-wrapper quick-login-tab">
          <button
            data-login-tabs-target="tab"
            data-action="login-tabs#switchTab"
            data-tab="quick-login"
            class="tab quick-login-tab">
            Guest
          </button>
        </div>
      </div>

      <div data-login-tabs-target="forms" class="forms sign-in-tab">
        <div class="form sign-up-form hidden">
          <%# This view is called in users#create, so prepend sessions/ explicitly %>
          <%= render "sessions/sign_up_form" %>
        </div>

        <div class="form sign-in-form">
          <%= render "sessions/sign_in_form" %>
        </div>

        <div class="form quick-login-form hidden">
          <%= render "sessions/quick_login_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
