<turbo-frame id="posts_form">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if post.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 rounded mb-2">
      <ul class="list-disc ml-6">
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: [resource, post], data: { turbo_frame: "posts_form" }, class: "flex gap-2 mt-4") do |form| %>
    <%= form.text_field :body, placeholder: "Say something...", class: "flex-1 border rounded px-3 py-2" %>
    <%= form.submit "Post!", class: "bg-blue-600 hover:bg-blue-500 cursor-pointer text-white px-4 py-2 rounded" %>
  <% end %>
</turbo-frame>
