<nav class="bg-gradient-to-br from-blue-500 via-indigo-500 to-violet-500 flex justify-start shadow-md shadow-neutral-400 rounded-b-md">
  <div class="isolate rounded-bl-md hover:bg-teal-400">
    <%= link_to root_path, class: "flex group items-center pr-3" do %>
      <%= inline_svg_tag('icon.svg', class: "group-hover:-rotate-35 transition-all duration-300 size-15 p-1") %>
      <span class="font-bold text-2xl text-white">Home</span>
    <% end %>
  </div>
  <div class="hover:bg-emerald-300 ml-auto">
    <%= link_to "https://github.com/bulgakke/beyonder" do %>
      <%= image_tag('github-mark-white.svg', class: "hover:invert size-15 p-3.5") %>
    <% end %>
  </div>
  <div class="hover:bg-emerald-300">
    <div class="invert">
      <%= link_to "https://darkreader.org/" do %>
        <%= image_tag('dark-mode.png', class: "hover:invert size-15 p-3.5") %>
      <% end %>
    </div>
  </div>
  <div class="text-white mx-10">
    <% if Current.user %>
        <%= button_to "logout", session_path, method: :delete,
          class: "w-full min-w-20 flex-1 sm:w-auto text-center rounded-lg mt-2 mx-auto px-3.5 py-2.5 bg-rose-600 hover:bg-rose-700 text-white block font-medium cursor-pointer"
        %>
    <% else %>
      <%= button_to "login", new_session_path,
        class: "w-full min-w-20 sm:w-auto text-center rounded-lg mt-2 mx-auto px-4.5 py-2.5 bg-teal-500 hover:bg-emerald-600 text-white block font-medium cursor-pointer"
      %>
    <% end %>
  </div>
</nav>
