<nav class="bg-gradient-to-br from-blue-500 via-indigo-500 to-violet-500 flex justify-start shadow-md shadow-neutral-400 rounded-b-md">
  <div class="hover:bg-teal-400">
    <%= link_to root_path do %>
      <%= inline_svg_tag('icon.svg', class: "hover:-rotate-35 transition-all duration-300 size-15 p-1") %>
    <% end %>
  </div>
  <div class="hover:bg-emerald-300 ml-auto">
    <%= link_to "https://github.com/bulgakke/beyonder" do %>
      <%= image_tag('github-mark-white.svg', class: "hover:invert size-15 p-3.5") %>
    <% end %>
  </div>
  <div class="text-white p-3 pt-4 hover:text-black hover:bg-emerald-300 transition-all duration-300 mr-10">
    <% if Current.user %>
      <button>
        <%= link_to "Log Out", session_path, data: { turbo_method: :delete } %>
      </button>
    <% else %>
      <%= link_to "login", new_session_path %>
    <% end %>
  </div>
</nav>
